.App {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  nav {
    margin-bottom: 10px;
    .App-navItem{
      color: rgb(100,100,100);
      text-decoration: none;
      margin: 0 20px;
    }
    .activeLink {
      color: fuchsia;
    }


  }
  h2{
    margin: 0px;
    margin-bottom: 20px;
  }
  .wrapper {
    width: 80%;
    height: 80%;
  }
}

